@font-face {
    font-family: "champagne";
    src: url(champagne_limousines/Champagne\ &\ Limousines.ttf);
}

@font-face {
    font-family: "champagnebold";
    src: url(champagne_limousines/Champagne\ &\ Limousines\ Bold.ttf);
}

*{
font-family: champagne;
}

#picture{
    display: ;
}

#galerie{
    text-align: center;
    margin: 50px 0;   
    padding-top: 50px;
}

.imggalerie{
    height: 150px;
    padding: 10px;
} 


#colors{
    margin: 50px 0;  
    border: solid 4px black;
    width: 100vw;
}


#rose{
    color: rgb(229, 186, 183);
}

#gold{
color: rgb(191, 153, 64);
}

#white{
color: #e8e8e8;
}

#black{
color: #202020;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}
div{
    width: 100vw;

}

#one{
background-color: #202020;
height: 50vh;
}
#two{
    background-color: #e8e8e8;
    height: 50vh;
}




button {
    
    padding: 0.9em 1.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
    color: transparent;
     /*border: 3px solid rgb(229, 186, 183);*/
    border: 3px solid rgb(191, 153, 64);
    font-size: 14px;
    position: relative;
    font-family: inherit;
    background: transparent;
   }
   
   button::before {
    content: "button";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: rgb(229, 186, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
   }
   
   button:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
   }
   
   button::after {
    content: "button";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: rgb(191, 153, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
    font-weight: bold;
   }
   
   button:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
   }
   
 /*---------*/    

 .fancy{
    text-align: center;

 }

   .fancy {

    background-color: transparent;
    border: 2px solid rgb(191, 153, 64);
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;

    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 1px;
    background: #363636;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color:#363636;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: #363636;
    background:rgb(229, 186, 183);
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: #363636;
   }
   
   .fancy:hover .text {
    color: #363636;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }

   /*-----*/

   .stack {
    padding-top: 1em;
    margin: auto;
    width: 12rem;
    height: 12rem;
    display: grid;
    grid-template-areas: "stack";  /* . ???? . */
}

/*-----Crée le cadre a chaque image contenu dans la div "stack"-----*/

.stack > img{

    grid-area: stack;   /* . ???? . */
    width: 100%;    
    aspect-ratio: 1;
    object-fit: cover; 
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 0.5); /* attribut une ombre moitié moins que noire*/
    border: solid 0.5rem white;
    border-bottom: solid 3rem white;
    border-radius: 0.5rem;
    transition: transform 200ms;
}

/*----- ÉTAT IMAGE AVANT -----*/

.stack > img:nth-child(1){
    transform:
        rotate(5deg)
        translateX(1.25rem)
        translateY(-1.25rem);
}

.stack > img:nth-child(2){
    transform:
        rotate(-10deg)
        translateX(-1.25rem);
}

.stack > img:nth-child(3){
    transform:
        rotate(0deg);
}

/*-----ÉTAT IMAGE AU SURVOL-----*/

.stack:hover> img:nth-child(1){
    transform:
        rotate(10deg)
        translateX(2.25rem)
        translateY(-2.25rem);
}

.stack:hover > img:nth-child(2){
    transform:
        rotate(-20deg)
        translateX(-3.75rem);
}

.stack:hover > img:nth-child(3){
    transform:
        rotate(0deg);
}